html, body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p::selection{
    background-color: red;
    color: white;
}

/* HEADER */
header{
    background-color: #46100e;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}

/* BANNER */
.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    background-color: #d62b0d80;
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
}

.banner h2{
    font-size: 74px;
    padding: 40px;
}

.banner h2 span{
    font-size: 1.3em;
}


/* NAV */
nav{
    background-color:#4b4b4b;
    padding: 20px;
    position: sticky;
    top: 100px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    text-decoration: none;
    color: #fff;
}
nav li a:hover{
    text-decoration: underline;
}

nav li a.join{
    font-weight: 900;
}

/* MAIN */
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

/* ARTICLES */
article h2{
    color: darkred;
    font-size: 48px;
}
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
}

article p {
    line-height: 2em;
    color: #4b4b4b;
}

.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li:hover{
    position: relative;
    top: -4px;
}
.images li img{
    max-height: 250px;
    width: auto;
}

/* JOIN */
a.join{
    padding: 20px 60px;
}
.join{
    background: #f4f4f4;
    text-align: center;
    color: #4b4b4b;
    padding: 40px 0;
}
.join h2{
    font-size: 36px;
}

/* CONTACT */
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #71d300;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: #46100e;
    color: white;
    border-radius: 12px;
    font-weight: 900;
}
button:hover{
    background-color: #953e3b;
}

/* FOOTER */
footer{
    background: #46100e;
    color: white;
    padding: 10px;
    text-align: center;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px){
    .banner .welcome h2{
        font-size: 50px;
        padding: 5rem;
    }
    nav li {
        font-size: 18px;
    }
}

@media only screen and (max-width: 960px){
    .banner .welcome{
        background-color: #d62b0d;
    }
    .banner .welcome h2{
        font-size: 20px;
    }
    a.join{
        color: white;
        background: none;
    }
    header h1{
        font-size: 14px;
        border: 4px solid white;
    }
    form input{
        font-size: 12px;
    }
}

@media only screen and (max-width: 960px){
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome h2{
        font-size: 25px;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
    .images li img {
        max-height: none;
        width: 100%;
    }
}

@media only screen and (max-width: 960px){
    nav{
        top: 0;
    }
    nav li{
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    header {
        position: relative;
        width: auto;
    }
}