html, body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: #46100e;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}
.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    background-color: #d62b0d;
    color: white;
    position: absolute;
    left: 0;
    top: 30%;
}

.banner h2{
    font-size: 74px;
}

.banner h2 span{
    font-size: 1.3em;
}


/* NAV */
nav{
    background-color:#4b4b4b;
    padding: 20px;
    position: sticky;
    top: 150px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #fff;
}

nav li a.join{
    font-weight: 900;
}